SECRET_KEY=CHANGE_ME
DEBUG=True

BKASH_APP_KEY=CHANGE_ME
BKASH_APP_SECRET=CHANGE_ME
BKASH_USERNAME=CHANGE_ME
BKASH_PASSWORD=CHANGE_ME

STRIPE_SECRET_KEY=CHANGE_ME
STRIPE_WEBHOOK_SECRET=CHANGE_ME

BKASH_SANDBOX=True
FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydb
REDIS_URL="redis://redis:6379/1"
